<% include ../../template/sidebar.ejs %>
<div class="content-wrapper">
    <% include ../../template/dashboardBreadcomb.ejs %>
    <section <% if(page === 'Detalhes da compra') { %>class="invoice"<% } else { %>class="content"<% } %>>
        <% if(page === 'Home') { %>
            <% include pages/home.ejs %>
        <% } else if(page === 'Perfil') { %>
            <% include pages/perfil.ejs %>
        <% } else if(page === 'Detalhes da compra') { %>
            <% include pages/detalhes-da-compra.ejs %>
        <% } else if(page === 'Cupons') { %>
            <% include pages/cupons.ejs %>
        <% } %>
    </section>
    <div class="clearfix"></div>
</div>