<% include ../../template/sidebar.ejs %>
<div class="content-wrapper">
    <% include ../../template/dashboardBreadcomb.ejs %>
    <section class="content">
        <% if(page === 'Home') { %>
            <% include pages/home.ejs %>
        <% } %>
    </section>
</div>