<% include ../../template/sidebar.ejs %>
<div class="content-wrapper">
    <% include ../../template/dashboardBreadcomb.ejs %>
    <section <% if(page === 'Detalhes da compra') { %>class="invoice"<% } else { %>class="content"<% } %>>
        <% if(page === 'Home') { %>
            <% include pages/home.ejs %>
        <% } else if(page === 'Perfil') { %>
            <% include pages/perfil.ejs %>
        <% } else if(page === 'Detalhes da compra') { %>
            <% include pages/detalhes-da-compra.ejs %>
        <% } else if(page === 'Cupons') { %>
            <% include pages/cupons.ejs %>
        <% } else if(page === 'Planos') { %>
            <% include pages/planos.ejs %>
        <% } else if(page === 'Origem') { %>
            <% include pages/origem.ejs %>
        <% } else if(page === 'Automações') { %>
            <% include pages/automacoes.ejs %>
        <% } else if(page === 'Relatórios') { %>
            <% include pages/relatorios.ejs %>
        <% } else if(page === 'Pós venda') { %>
            <% include pages/pos-venda.ejs %>
        <% } else if(page === 'Usuários') { %>
            <% include pages/usuarios.ejs %>
        <% } else if(page === 'Detalhes do usuário') { %>
            <% include pages/detalhes-do-usuario.ejs %>
        <% } %>
    </section>
    <div class="clearfix"></div>
</div>