<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form id="form-cadastro">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" name="name" class="form-control" placeholder="Nome" required>
                </div>
                <div class="form-group">
                    <label>Telefone</label>
                    <input id="phone" type="text" name="phone" class="form-control" placeholder="Celular / WhatsApp" required>
                </div>
                <div class="form-group">
                    <label>Endereço de email</label>
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" name="password" class="form-control" placeholder="Senha" required>
                </div>
                <div class="form-group">
                    <label>Confirmar senha</label>
                    <input type="password" name="confirmPassword" class="form-control" placeholder="Confirmar senha" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Cadastro</button>
                <a href="/instagram" class="btn btn-danger btn-block">Entrar com Instagram</a>
                <a href="/login" class="btn btn-secondary btn-block">Login</a>
            </form>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
            <script>
                $(document).ready(function() {
                    $('#phone').mask('(00) 00000-0000')
                    function updateMask(event) {
                        let $element = $('#phone')
                        $(this).off('blur')
                        $element.unmask()
                        if(this.value.replace(/\D/g, '').length > 10) {
                            $element.mask('(00) 00000-0000')
                        } else {
                            $element.mask('(00) 0000-00009')
                        }
                        $(this).on('blur', updateMask)
                    }
                    $('#phone').on('blur', updateMask)

                    $('#form-cadastro').on('submit', function(e) {
                        e.preventDefault()
                        
                        $.ajax({
                            type: 'POST',
                            url: '/cadastro',
                            datatype: 'html',
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                            data: $('#form-cadastro').serialize(),         
                            headers: {
                                'X-CSRF-TOKEN': $('meta[name="token"]').attr('content')
                            },
                            success: function(result) {       
                                window.location.href = '/validate'
                            },
                            error: function(xhr, status, error) {
                                alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
                            }
                        })
                    })
                })
            </script>
        </div>
    </div>
</div>