<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
    <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider
        data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1170, 'gridheight': 1000, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }}">
        <ul>
            <li class="slide-overlay" data-transition="fade">
                <img src="/views/assets/img/blank.gif" alt="" data-bgposition="center center" data-bgfit="cover"
                    data-bgrepeat="no-repeat" class="rev-slidebg">

                <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%"
                    data-videoheight="100%" data-videomp4="/views/assets/video/memory-of-a-woman.mp4"
                    data-videopreload="preload" data-videoloop="loop" data-forceCover="1" data-aspectratio="16:9"
                    data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="false">
                </div>

                <div class="tp-caption   tp-resizeme" id="slide-5-layer-18"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']" data-voffset="['-1','-1','-1','-1']"
                    data-width="none" data-height="none" data-whitespace="nowrap"
                    data-visibility="['on','on','off','off']" data-type="text" data-responsive_offset="on"
                    data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                    style="z-index: 6; white-space: nowrap; font-size: 70px; line-height: 70px; font-weight: 400; color: #fbb606; letter-spacing: 0px;font-family:Open Sans;">
                    TRÊS MAIS TRÊS<p>
                        <span style="color:white;font-size:34px">A AGÊNCIA QUE CONECTA VOCÊ.</span></p>
                </div>

                <div class="tp-caption   tp-resizeme" id="slide-5-layer-20"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none"
                    data-height="none" data-whitespace="nowrap" data-visibility="['off','off','on','on']"
                    data-type="text" data-responsive_offset="on"
                    data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                    style="z-index: 7; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 400; color: #fbb606; letter-spacing: 0px;font-family:Open Sans;">
                    TRÊS MAIS TRÊS </div>

                <div class="tp-caption   tp-resizeme" id="slide-5-layer-21"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']" data-voffset="['93','93','93','93']"
                    data-width="none" data-height="none" data-whitespace="nowrap"
                    data-visibility="['off','off','on','on']" data-type="text" data-responsive_offset="on"
                    data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                    style="z-index: 8; white-space: nowrap; font-size: 56px; line-height: 56px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">
                    A AGÊNCIA QUE CONECTA VOCÊ. </div>

                <a class="tp-caption slider-scroll-button" data-hash data-hash-offset="80" href="#main" data-x="center"
                    data-y="bottom" data-voffset="['30','30','30','30']" data-start="1600"
                    data-transform_in="y:[100%];s:500;" data-transform_out="y:[100%];opacity:0;s:500;"
                    data-mask_in="x:0px;y:0px;" style="z-index: 5;"></a>

                <div class="tp-dottedoverlay tp-opacity-overlay"></div>
            </li>
        </ul>
    </div>
</div>

<div class="container appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
    <div class="row py-5 my-5">
        <div class="col-md-6 order-2 order-md-1 text-center text-md-left">
            <div class="owl-carousel owl-theme nav-style-1 nav-center-images-only stage-margin mb-0"
                data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 2}, '1200': {'items': 2}}, 'margin': 25, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">
                <div>
                    <img class="img-fluid rounded-0 mb-4" src="/views/assets/img/team/LEANDRO-RIBEIRO.jpeg" alt="" />
                    <h3 class="font-weight-bold text-color-dark text-4 mb-0">LEANDRO RIBEIRO</h3>
                    <p class="text-2 mb-0">MARKETING</p>
                </div>
                <div>
                    <img class="img-fluid rounded-0 mb-4" src="/views/assets/img/team/CIBELI-KOVIC.jpeg" alt="" />
                    <h3 class="font-weight-bold text-color-dark text-4 mb-0">CIBELI KOVIC</h3>
                    <p class="text-2 mb-0">AUTOMAÇÃO</p>
                </div>
                <div>
                    <img class="img-fluid rounded-0 mb-4" src="/views/assets/img/team/BIANCA-GIMENES.jpeg" alt="" />
                    <h3 class="font-weight-bold text-color-dark text-4 mb-0">BIANCA GIMENES</h3>
                    <p class="text-2 mb-0">ATENDIMENTO</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-2 text-center text-md-left mb-5 mb-md-0">
            <h2 class="text-color-dark font-weight-normal text-6 mb-2 pb-1">CONHEÇA <strong
                    class="font-weight-extra-bold">NOSSA EMPRESA</strong></h2>
            <p class="lead">Com mais de três anos atuando com marketing digital, nosso time é responsável pelo
                crescimento de milhares de perfis pessoais e profissionais no Instagram.</p>
            <p class="lead">Nesse período adquirimos experiência para oferecer o melhor serviço de automação e garantir
                a entrega de seguidores reais e segmentados.</p>

        </div>
    </div>
</div>

<div class="container" id="main">
    <div class="row text-center pt-5 pb-4 mt-5 mb-4">
        <div class="col-md-10 mx-md-auto">

            <h2 class="text-color-dark font-weight-normal text-6 mb-2 pb-1">NOSSO PROCESSO DE <strong
                    class="font-weight-extra-bold">SEGMENTAÇÃO</strong></h2>
            <p class="lead appear-animation mb-0" data-appear-animation="fadeInUpShorter"
                data-appear-animation-delay="300">
                A captação de seguidores é realizada de acordo com o público que você deseja atrair para o seu perfil.
            </p>
        </div>
    </div>
    <div class="row mb-lg-4">
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter"
            data-appear-animation-delay="300">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="icons icon-list text-color-primary"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Opção de filtros</h4>
                    <p>Selecione seu público através de perfis de referência, localização, hashtag e gênero para obter
                        melhor desempenho.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="icons icon-user-follow text-color-primary"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Seguir e deixar de seguir</h4>
                    <p>Com base nos filtros de segmentação, seu perfil seguirá alguns usuários diariamente e deixará de
                        segui-los no dia seguinte.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter"
            data-appear-animation-delay="300">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="icons icon-paper-plane text-color-primary"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Mensagens automáticas</h4>
                    <p>Envie uma mensagem automática por Direct para quem começar a seguir o seu perfil, aumentando o
                        engajamento.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-5 mb-5">
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter"
            data-appear-animation-delay="300">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="icons icon-layers text-color-primary"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Visualização de Stories</h4>
                    <p>Com o objetivo de aumentar a interação com seu público, seu perfil será configurado para
                        visualizar stories automaticamente.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="icons icon-like text-color-primary"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Curtidas automáticas</h4>
                    <p>As curtidas são feitas pelo seu perfil nas postagens dos usuários que o sistema segue,
                        possibilitando maior engajamento.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter"
            data-appear-animation-delay="300">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="icons icon-people text-color-primary"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Lista de amigos</h4>
                    <p>Não se preocupe com as pessoas que você já segue, nosso sistema é configurado para não deixar de
                        segui-las.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="parallax section section-text-light section-parallax mt-0 mb-0" data-plugin-parallax
    data-plugin-options="{'speed': 1.5}" data-image-src="/views/assets/img/parallax/parallax-2.jpg">
    <div class="container py-5 my-5">
        <div class="row text-center">
            <div class="col-md-10 mx-md-auto">
                <h2 class="text-color-dark font-weight-normal text-6 pb-1" style="color: #fff !important; margin-top: -80px !important"><strong>INVESTIMENTO</strong></h2>
            </div>
        </div>

        <div class="pricing-table mb-4">
            <div class="col-md-6 col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h3>PLANO MENSAL</h3>
                    </div>
                    <div class="plan-price">
                        <span class="price"><span class="price-unit">R$</span>116,90</span>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li>Seguidores reais <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Suporte via WhatsApp <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Filtros de segmentação <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Curtidas automáticas</li>
                            <li>Mensagem de boas-vindas</li>
                            <li>Comentários automáticos</li>
                            <li>Visualização de Stories</li>
                            <li>Curtidas em suas publicações</li>
                        </ul>
                    </div>
                    <div class="plan-footer">
                        <a href="/comprar-plano?plano=mensal" style="color:#fff" class="btn btn-modern btn-primary btn-bottom">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h3>PLANO BIMESTRAL</h3>
                    </div>
                    <div class="plan-price">
                        <span class="price"><span class="price-unit">R$</span>197,90</span>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li>Seguidores reais <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Suporte via WhatsApp <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Filtros de segmentação <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Curtidas automáticas <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Mensagem de boas-vindas</li>
                            <li>Comentários automáticos</li>
                            <li>Visualização de Stories</li>
                            <li>Curtidas em suas publicações</li>
                        </ul>
                    </div>
                    <div class="plan-footer">
                        <a href="/comprar-plano?plano=bimestral" style="color:#fff" class="btn btn-modern btn-primary btn-bottom">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h3>PLANO TRIMESTRAL</h3>
                    </div>
                    <div class="plan-price">
                        <span class="price"><span class="price-unit">R$</span>275,90</span>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li>Seguidores reais <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Suporte via WhatsApp <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Filtros de segmentação <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Curtidas automáticas <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Mensagem de boas-vindas <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Comentários automáticos <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Visualização de Stories</li>
                            <li>Curtidas em suas publicações</li>
                        </ul>
                    </div>
                    <div class="plan-footer">
                        <a href="/comprar-plano?plano=trimestral" style="color:#fff" class="btn btn-modern btn-primary btn-bottom">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h3>PLANO SEMESTRAL</h3>
                    </div>
                    <div class="plan-price">
                        <span class="price"><span class="price-unit">R$</span>505,90</span>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li>Seguidores reais <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Suporte via WhatsApp <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Filtros de segmentação <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Curtidas automáticas <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Mensagem de boas-vindas <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Comentários automáticos <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Visualização de Stories <i class="fas fa-check" style="color: #fbb606;"></i></li>
                            <li>Curtidas em suas publicações <i class="fas fa-check" style="color: #fbb606;"></i></li>
                        </ul>
                    </div>
                    <div class="plan-footer">
                        <a href="/comprar-plano?plano=semestral" style="color:#fff" class="btn btn-modern btn-primary btn-bottom">COMPRAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section section-height-3 bg-light border border-bottom-0 m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="owl-carousel owl-theme mb-0"
                    data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
                    <div>
                        <img class="img-fluid opacity-2" src="img/logos/logo-1.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid opacity-2" src="img/logos/logo-2.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid opacity-2" src="img/logos/logo-3.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid opacity-2" src="img/logos/logo-4.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid opacity-2" src="img/logos/logo-5.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid opacity-2" src="img/logos/logo-6.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid opacity-2" src="img/logos/logo-4.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid opacity-2" src="img/logos/logo-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>