<div role="main" class="main">
    <% include ../../template/breadcomb.ejs %>

    <div class="container">
        <div class="row text-left  pb-4 mb-4">
            <div class="col-md-12 mx-md-auto">
                1. CONDIÇÕES GERAIS DE USO</br>
                Estas condições gerais (doravante denominadas “Condições Gerais”) regulamentam a utilização da plataforma de
                automação de perfis no Instagram oferecida pela TRÊS MAIS TRÊS, registrada sob o endereço eletrônico
                https://tresmaistres.com.br</br>
                A expressa aceitação sem reservas quanto aos termos de uso atribui a condição de usuário do serviço (doravante,
                denominado “Usuário”) e declara a aceitação plena e sem reservas do usuário a cada uma das condições gerais na
                versão publicada pela TRÊS MAIS TRÊS no exato momento em que utilizar o serviço. Todos os demais avisos,
                regulamentos e instruções integram e complementam as presentes condições gerais.</br>
                </br>
                2. OBJETO</br>
                Este contrato regulamenta a utilização dos serviços de automação de perfis no Instagram oferecidos pela TRÊS MAIS
                TRÊS.</br>
                Os dados referentes aos cadastros ficarão armazenados dentro do site da TRÊS MAIS TRÊS em servidores próprios ou
                contratados.</br>
                A TRÊS MAIS TRÊS não se responsabiliza por senhas de acesso extraviadas, perdidas modificadas pelo usuário, ou por
                senhas cuja combinação seja considerada muito “fraca”, apta a ser forçada ou adivinhada por qualquer forma.</br>
                </br>
                3. CONDIÇÕES DE ACESSO E UTILIZAÇÃO DO SERVIÇO</br>
                O Usuário reconhece que é essencial para contratação do serviço o preenchimento correto com dados verdadeiros e
                isentando a TRÊS MAIS TRÊS de qualquer responsabilidade quanto a prejuízos gerados por dados falsos ou imprecisos
                que sejam fornecidos no referido cadastro.</br>
                O usuário compromete-se a utilizar o serviço em conformidade com as leis brasileiras, a moral e os bons costumes e a
                ordem pública, utilizando o serviço de forma adequada se abstendo da prática de atos ilícitos, proibidos pela lei e
                pelas presentes condições gerais, lesivos aos direitos e interesses de terceiros, ou que, de qualquer forma, possa
                danificar, inutilizar, sobrecarregar ou deteriorar o serviço os servidores ou os equipamentos informáticos de outros
                usuários ou de outros internautas (“hardware” e “software”) através da prática de “hacking”.</br>
                Caso ocorram eventos de força maior que não permitam à TRÊS MAIS TRÊS comunicar com antecedência alterações ou
                eventuais falhas no serviço, o usuário neste ato permite que a TRÊS MAIS TRÊS suspenda a prestação do serviço e
                rescinda este contrato, ficando desde já acertado que esta informará o ocorrido e sua causa para ciência do usuário.
                A TRÊS MAIS TRÊS não reembolsará pagamentos efetuados pelo usuário caso haja interrupção temporária ou permanente do
                serviço, e neste ato o usuário expressamente concorda com tal política, sem quaisquer ressalvas.</br>
                O usuário deverá manter sempre seu cadastro atualizado junto a TRÊS MAIS TRÊS, informando pelo menos um endereço de
                e-mail em funcionamento, para que possa receber, comunicados e avisos. Não somos responsáveis pelos comunicados não
                recebidos devidos ao configurações de email do usuário.</br>
                O usuário declara neste ato estar ciente que ao cancelar o serviço fora do prazo de 7 dias, será imediatamente
                interrompido e que poderá ocorrer a cobrança proporcional aos dias de serviços prestados.</br>
                O usuário declara neste ato estar ciente que em casos decorrentes de força maior, manutenção de emergência ou quedas
                inesperadas de serviço, não será possível notificá-lo com antecedência. A TRÊS MAIS TRÊS não oferece nenhum tipo de
                garantia ou reembolso advindo da instabilidade decorrentes de fatos descritos neste inciso.</br>
                </br>
                4. DIREITOS DO USUÁRIO</br>
                Ao contratar os serviços descritos pela TRÊS MAIS TRÊS, o usuário possui os direitos:</br>
                Utilizar todos os serviços colocados à disposição pela plataforma objeto deste contrato; suporte via Whatsapp de
                consultores de vendas e automação.</br>
                A TRÊS MAIS TRÊS é responsável por entregar os serviços oferecidos em cada plano contratado, salvo se por força
                maior for impedida, conforme descrito nas condições gerais deste termo.</br>
                </br>
                5. DESCRIÇÃO DOS SERVIÇOS E FUNÇÕES</br>
                A TRÊS MAIS TRÊS oferece o serviço de automação para Instagram com o objetivo de aumentar os seguidores reais do
                perfil. A quantidade de seguidores entregues podem variar de acordo com cada plano contratado, assim como também as
                funções de curtidas automáticas, mensagem de boas-vindas, comentários automáticos, visualização de stories, curtidas
                em suas publicações.</br>
                </br>
                6. ALTERAÇÃO NO SERVIÇO</br>
                O usuário tem conhecimento e concorda que o serviço pode mudar de tempos em tempos sem aviso prévio.</br>
                Mudanças incluem, sem limitação, alterações na taxa e condição de pagamento, patches de segurança, funcionalidades
                adicionadas ou removidas e outras melhorias ou restrições.</br>
                A plataforma não poderá ser responsabilizada pelo usuário ou terceira parte no caso de qualquer modificação,
                alteração de preço, suspensão ou descontinuação do serviço.</br>
                A TRÊS MAIS TRÊS pode alterar as suas taxas e condições de pagamento para o serviço, sem aviso prévio, respeitando
                todavia a vigência dos planos já contratados sem cobrança adicional.</br>
                A TRÊS MAIS TRÊS reserva-se o direito de modificar, a qualquer momento, a apresentação e configuração do serviço,
                assim como também as presentes condições gerais ou quaisquer outros regulamentos e normas que influenciam no
                serviço.</br>
                </br>
                7. POLÍTICAS DE COBRANÇA E PAGAMENTO</br>
                O serviço é prestado para o usuário mediante pagamento de valores previamente estipulados de acordo com o tipo de
                serviço oferecido.</br>
                </br>
                8. POLÍTICAS DE CANCELAMENTO</br>
                O Código de Defesa do Consumidor, Art. 49, garante o direito de desistência da compra do serviço, no prazo de 7 dias
                a contar da contratação.</br>
                Se o consumidor exercitar o direito de arrependimento previsto neste artigo, os valores eventualmente pagos, a
                qualquer título, durante o prazo de reflexão, serão devolvidos integralmente.</br>
                </br>
                9. EXCLUSÃO DE GARANTIAS E DE RESPONSABILIDADE</br>
                A TRÊS MAIS TRÊS exime-se de quaisquer responsabilidades quanto a danos e prejuízos de qualquer natureza porventura
                advindos devidos à indisponibilidade ou falta de continuidade do serviço.</br>
                A TRÊS MAIS TRÊS exime-se de quaisquer responsabilidades quanto ao uso de automações no perfil. Ao utilizar
                automações em seus perfis no Instagram, o usuário compreende que está colocando em potencial risco suas contas e que
                as políticas do Instagram podem mudar a qualquer momento, resultando em exclusão total, permanente e irrecuperável
                do perfil.</br>
                Os dados do usuário serão armazenados com todo o sigilo e somente serão manipulados por funcionários da TRÊS MAIS
                TRÊS.</br>
                </br>
                10. ATENDIMENTO E SUPORTE TÉCNICO</br>
                A TRÊS MAIS TRÊS prestará suporte técnico para seus usuários, obedecendo às seguintes condições e limitações:</br>
                A TRÊS MAIS TRÊS esclarecerá dúvidas e prestará informações simples a usuários através do email
                contato@tresmaistres.com.br e whatsapp (44) 99970-5662.</br>
                </br>
                11. FINALIZAÇÃO</br>
                Os serviços disponíveis na TRÊS MAIS TRÊS ficarão disponíveis para o usuário pelo prazo definido no plano contratado
                até impedimento imposto por viés tecnológico (atualizações nos serviços do Instagram que impeçam a realização do
                serviço) ou até o final da existência do serviço, se este for ilimitado.
            </div>
        </div>
    </div>
</div>