<section <% if(page === 'Finalizar compra') { %>style="margin-top: -50px !important;"<% } %> class="page-header page-header-modern page-header-background page-header-background-md parallax overlay overlay-color-dark overlay-show overlay-op-5 mt-0" data-plugin-parallax data-plugin-options="{'speed': 1.2}" data-image-src="/views/assets/img/page-header/page-header-services.jpg">
    <div class="container">
        <div class="row" style="margin-top: 80px">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1><%= page %></h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb breadcrumb-light d-block text-md-right">
                    <li><a href="/">Home</a></li>
                    <li class="active"><%= page %></li>
                </ul>
            </div>
        </div>
    </div>
</section>