<section class="content-header">
    <h1><%= page %></h1> 
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active"><%= page %></li>
    </ol>
</section>