<footer class="main-footer">
    <div class="pull-right hidden-xs">
        Desenvolvido por <a target="_blank" href="https://purpletech.com.br">PurpleTech</a>.
    </div>
    <strong>&copy; <script>
            document.write(new Date().getFullYear())
        </script> <a href="/">TRÊS MAIS TRÊS</a>.</strong> Todos os direitos reservados.
</footer>

</div>
<!-- Bootstrap 3.3.7 -->
<script src="/views/admin/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="/views/admin/assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/views/admin/assets/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/views/admin/assets/dist/js/adminlte.min.js"></script>

<script src="/views/admin/assets/bower_components/PACE/pace.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
<% if(message) { %>
    <script>
        const msg = JSON.parse('<%- message %>')
        if (msg !== 'Sucesso!')
            alertify.notify(msg, 'error', 5)
        else
            alertify.notify(msg, 'success', 5)
    </script>
<% } %>

</body>

</html>