<footer id="footer" class="mt-0">
    <div class="container">
        <div class="footer-ribbon">
            <span>Get in Touch</span>
        </div>
        <div class="row py-5 my-4">
            <div class="col-md-6 mb-4 mb-lg-0">
                <a href="index.html" class="logo pr-0 pr-lg-3">
                    <img alt="Porto Website Template" src="img/logo-footer.png" class="opacity-7 bottom-4" height="33">
                </a>
                <p class="mt-2 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.
                    Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae
                    purus semper...</p>
                <p class="mb-0"><a href="#" class="btn-flat btn-xs text-color-light"><strong class="text-2">VIEW
                            MORE</strong><i class="fas fa-angle-right p-relative top-1 pl-2"></i></a></p>
            </div>
            <div class="col-md-6">
                <h5 class="text-3 mb-3">CONTACT US</h5>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list list-icons list-icons-lg">
                            <li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i>
                                <p class="m-0">234 Street Name, City Name</p>
                            </li>
                            <li class="mb-1"><i class="fab fa-whatsapp text-color-primary"></i>
                                <p class="m-0"><a href="tel:8001234567">(800) 123-4567</a></p>
                            </li>
                            <li class="mb-1"><i class="far fa-envelope text-color-primary"></i>
                                <p class="m-0"><a href="mailto:mail@example.com">mail@example.com</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list list-icons list-icons-sm">
                            <li><i class="fas fa-angle-right"></i><a href="page-faq.html"
                                    class="link-hover-style-1 ml-1"> FAQ's</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="sitemap.html"
                                    class="link-hover-style-1 ml-1"> Sitemap</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="contact-us.html"
                                    class="link-hover-style-1 ml-1"> Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright-style-2">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col d-flex align-items-center justify-content-center">
                    <p style="text-align: center">© <script>document.write(new Date().getFullYear())</script> <a href="https://tresmaistres.com.br">Três Mais Três</a> - Todos os direitos reservados. CNPJ 33.787.398/0001-07<br> Desenvolvido por <a target="_blank" href="https://purpletech.com.br">PurpleTech</a></p>
                </div>
                
            </div>
        </div>
    </div>
</footer>
</div>

<!-- Vendor -->
<script src="/views/assets/vendor/jquery/jquery.min.js"></script>
<script src="/views/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="/views/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/views/assets/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="/views/assets/vendor/popper/umd/popper.min.js"></script>
<script src="/views/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/views/assets/vendor/common/common.min.js"></script>
<script src="/views/assets/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="/views/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="/views/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="/views/assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="/views/assets/vendor/isotope/jquery.isotope.min.js"></script>
<script src="/views/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/views/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/views/assets/vendor/vide/jquery.vide.min.js"></script>
<script src="/views/assets/vendor/vivus/vivus.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/views/assets/js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="/views/assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="/views/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="/views/assets/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
<script src="/views/assets/js/views/view.home.js"></script>

<!-- Theme Custom -->
<script src="/views/assets/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/views/assets/js/theme.init.js"></script>

<!-- Alertify -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
<% if(message) { %>
<script>
    const msg = JSON.parse('<%- message %>')
    if (msg !== 'Sucesso!')
        alertify.notify(msg, 'error', 5)
    else
        alertify.notify(msg, 'success', 5)
</script>
<% } %>

<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->

</body>

</html>