<footer id="footer" class="mt-0">
    <div class="container">
        <div class="footer-ribbon">
            <span>Informações</span>
        </div>
        <div class="row py-5 my-4">
            <div class="col-md-6 mb-4 mb-lg-0">
                <h3 style="color:#909294" class="mb-1"><strong>TRÊS MAIS TRÊS</strong></h3>
                <p class="mt-2 mb-2" style="text-align: justify">Com mais de três anos atuando com marketing digital, nosso time é responsável pelo crescimento de milhares de perfis pessoais e profissionais no Instagram. Nesse período adquirimos experiência para oferecer o melhor serviço de automação e garantir a entrega de seguidores reais e segmentados.</p>
            </div>
            <div class="col-md-3">
                <h5 class="text-3 mb-3">LINKS ÚTEIS</h5>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list list-icons list-icons-sm">
                            <li><i class="fas fa-angle-right"></i><a href="<% if(!user) { %>/login<% } else if(user && !user.admin) { %>/minha-conta<% } else { %>/admin<% } %>" class="link-hover-style-1 ml-1">Minha conta</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="/termos-de-uso" class="link-hover-style-1 ml-1">Termos de uso</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="/politica-de-privacidade" class="link-hover-style-1 ml-1">Política de privacidade</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h5 class="text-3 mb-3">SIGA-NOS</h5>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="social-icons">
                            <li class="social-icons-facebook"><a href="https://www.facebook.com/tresmaistres/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li><br/>
                            <li style="margin-top: 8px" class="social-icons-instagram"><a href="https://www.instagram.com/tresmaistres/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright-style-2">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col d-flex align-items-center justify-content-center">
                    <p style="text-align: center">© <script>document.write(new Date().getFullYear())</script> <a href="https://tresmaistres.com.br">Três Mais Três</a> - Todos os direitos reservados. CNPJ 33.787.398/0001-07<br> Desenvolvido por <a target="_blank" href="https://purpletech.com.br">PurpleTech</a></p>
                </div>
                
            </div>
        </div>
    </div>
</footer>
</div>

<style>
.float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#25d366;
	color:#FFF !important;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 1px 1px 3px #999;
  z-index:100;
}

.float:hover {
    color: #fff !important;
}

.float:active {
    color: #fff !important;
}

.float:visited {
    color: #fff !important;
}

.float:link {
    color: #fff !important;
}

.my-float {
	margin-top:16px;
}
</style>
<a href="https://api.whatsapp.com/send?phone=554499705662" class="float" target="_blank"><i class="fab fa-whatsapp my-float"></i></a>

<!-- Vendor -->
<script src="/views/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="/views/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/views/assets/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="/views/assets/vendor/popper/umd/popper.min.js"></script>
<script src="/views/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/views/assets/vendor/common/common.min.js"></script>
<script src="/views/assets/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="/views/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="/views/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="/views/assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="/views/assets/vendor/isotope/jquery.isotope.min.js"></script>
<script src="/views/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/views/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/views/assets/vendor/vide/jquery.vide.min.js"></script>
<script src="/views/assets/vendor/vivus/vivus.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/views/assets/js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="/views/assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="/views/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="/views/assets/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
<script src="/views/assets/js/views/view.home.js"></script>

<!-- Theme Custom -->
<script src="/views/assets/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/views/assets/js/theme.init.js"></script>

<!-- Alertify -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
<% if(message) { %>
    <script>
        const msg = JSON.parse('<%- message %>')
        if (msg !== 'Sucesso!')
            alertify.notify(msg, 'error', 5)
        else
            alertify.notify(msg, 'success', 5)
    </script>
<% } %>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2396020970675684');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=2396020970675684&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144087724-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-144087724-1');
</script>

</body>
</html>